<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Sensor Data!</title>
  </head>
  <body>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">daq</th>
            <th scope="col">Module_nr</th>
            <th scope="col">Slot</th>
            <th scope="col">Ch_nr</th>
            <th scope="col">Sensor Name</th>
            <th scope="col">Serial</th>
            <th scope="col">Property</th>
            <th scope="col">Color Code</th>
            <th scope="col">MP/TP/TW</th>
            <th scope="col">Sensor_Type_Short</th>
            <th scope="col">Sensor_Type_Long</th>
            <th scope="col">TDMS group</th>
            <th scope="col">Level name</th>
            <th scope="col">Level_LAT_Exact</th>
            <th scope="col">Level_LAT_Round</th>
            <th scope="col">Heading</th>
            <th scope="col">Orientation</th>
            <th scope="col">Sensor_p_nr</th>
            <th scope="col">Status(0/1)</th>
          </tr>
        </thead>
        <tbody>

        {% for sensor in sensor_data_obj %}
          <tr>
            <td scope="col">{{sensor.daq}}</td>
            <td scope="col">{{sensor.module_nr}}</td>
            <td scope="col">{{sensor.slot}}</td>
            <td scope="col">{{sensor.ch_nr}}</td>
            <td scope="col">{{sensor.sensor_name}}</td>
            <td scope="col">{{sensor.serial}}</td>
            <td scope="col">{{sensor.property}}</td>
            <td scope="col">{{sensor.color_code}}</td>
            <td scope="col">{{sensor.MP_TP_TW}}</td>
            <td scope="col">{{sensor.sensor_type.short}}</td>
            <td scope="col">{{sensor.sensor_type.long}}</td>
            <td scope="col">{{sensor.tdms_group}}</td>
            <td scope="col">{{sensor.level_name}</td>
            <td scope="col">{{sensor.level_lat_Exact}}</td>
            <td scope="col">{{sensor.level_lat_round_or_name}}</td>
            <td scope="col">{{sensor.heading}}</td>
            <td scope="col">{{sensor.orientation}}</td>
            <td scope="col">{{sensor.sensor_part_nr}}</td>
            <td scope="col">{{sensor.status}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>